extends layout

block content
  .jumbotron
      .container
          h1 How May I help You?
          p How May I help You?How May I help You?How May I help You?How May I help You?How May I help You?How May I help You?
          a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
  .container
      .row
          .col-md-4
              h2 About Us
              p About UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout Us
              a.btn.btn-default(href='#') View Details    
          .col-md-4
              h2 Services
              p About UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout Us
              a.btn.btn-default(href='#') View Details  
          .col-md-4
              h2 Get In Touch
              p About UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout UsAbout Us
              a.btn.btn-default(href='#') View Details      


